@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --declaration-color: #f8f0e3;
  --text-background: rgba(17, 17, 17, 0.884);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
  scroll-behavior: smooth;
}
#news-page-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #111;
}
.section-title {
  font-size: 3rem;
  color: var(--declaration-color);
  padding: 6% 0 3% 0;
}

.news-slider {
  width: 50%;
  height: 30rem;
  margin-bottom: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

#left-arrow,
#right-arrow {
  width: 10%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
#right-arrow {
  right: 0;
}
#right-arrow:hover,
#left-arrow:hover {
  background-color: rgba(17, 17, 17, 0.316);
  box-shadow: 0 0 0.5rem 0.9rem rgba(17, 17, 17, 0.316);
}
#right-arrow:hover i,
#left-arrow:hover i {
  color: rgba(17, 17, 17, 0.649);
}
.news-slider span i {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  font-size: 3.5rem;
  cursor: pointer;
}

#slides-content {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#slides-content h3 {
  height: 40%;
  width: 100%;
  color: var(--declaration-color);
  background-color: rgba(17, 17, 17, 0.608);
  position: absolute;
  text-align: center;
  top: 80%;
}
#slides-content img.sliding-img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.static-news-container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.news-card {
  width: 45%;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  margin-bottom: 3%;
}
.news-card .news-paragraphs {
  background-color: var(--text-background);
  color: var(--declaration-color);
  height: 100%;
  position: absolute;
  top: 100%;
  transition: 0.7s ease top;
  padding: 3%;
}
.news-card:hover .news-paragraphs {
  top: 40%;
}
.news-paragraphs h3 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.news-paragraphs p {
  font-size: 0.9rem;
}
.news-card img {
  width: 100%;
  opacity: 0.7;
}
.news-card:hover img {
  opacity: 0.4;
}

/* =================== Media Queries =================== */
/* ------------------- max Width of 576px ------------------- */
@media only screen and (max-width: 576px) {
  .section-title {
    font-size: 1.5rem;
    padding: 12% 0 3% 0;
  }
  #slides-content h3 {
    top: 70%;
    font-size: 0.9rem;
  }
  .news-slider {
    width: 90%;
    height: 15rem;
    margin-bottom: 6%;
  }
  .news-card {
    width: 90%;
    border-radius: 0.3rem;
    margin: 6% 0 3% 0;
  }

  .news-paragraphs h3 {
    font-size: 0.9rem;
  }
  .news-paragraphs p {
    font-size: 0.7rem;
  }
  .news-card:hover .news-paragraphs {
    top: 0%;
  }
  .news-card img {
    width: 100%;
    opacity: 0.7;
    object-fit: cover;
  }
}
/* ------------------- min Width of 576px ------------------- */
@media only screen and (min-width: 576px) {
  .section-title {
    font-size: 1.5rem;
    padding: 12% 0 3% 0;
  }
  .news-slider {
    width: 90%;
    height: 20rem;
    margin-bottom: 6%;
  }
  .news-card {
    width: 90%;
    border-radius: 0.3rem;
    margin: 6% 0 3% 0;
  }

  .news-paragraphs h3 {
    font-size: 1.1rem;
  }
  .news-paragraphs p {
    font-size: 0.7rem;
  }
  .news-card img {
    width: 100%;
    opacity: 0.7;
    object-fit: cover;
  }
}

/* ------------------- Min Width of 768px ------------------- */
@media only screen and (min-width: 768px) {
  .section-title {
    font-size: 1.5rem;
    padding: 12% 0 3% 0;
  }
  .news-slider {
    width: 75%;
    height: 25rem;
    margin-bottom: 6%;
  }
  .news-slider img {
    object-fit: cover;
  }
  .news-card {
    width: 75%;
    border-radius: 0.3rem;
    margin: 6% 0 3% 0;
  }
  .news-card:hover .news-paragraphs {
    top: 60%;
  }
  .news-paragraphs h3 {
    font-size: 1.1rem;
  }
  .news-paragraphs p {
    font-size: 0.8rem;
  }
  .news-card img {
    object-fit: cover;
  }
}

/* ------------------- Min Width of 992px ------------------- */
@media only screen and (min-width: 992px) {
  .section-title {
    font-size: 2.5;
    padding: 11% 0 3% 0;
  }
  .news-slider {
    width: 65%;
    height: 28rem;
    margin-bottom: 1%;
  }

  .news-card {
    width: 48%;
    border-radius: 0.3rem;
    margin: 2% 0 3% 0;
  }
  .news-card:hover .news-paragraphs {
    top: 20%;
  }
  .news-paragraphs h3 {
    font-size: 1.1rem;
  }
  .news-paragraphs p {
    font-size: 0.8rem;
  }
  .news-card img {
    object-fit: cover;
  }
}

/* ------------------- Min Width of 1200px ------------------- */
@media only screen and (min-width: 1200px) {
  .section-title {
    font-size: 2.3rem;
    padding: 10% 0 3% 0;
  }
  .news-slider {
    width: 60%;
    height: 30rem;
  }
  .news-slider img {
    object-fit: cover;
  }
  .news-card {
    width: 45%;
    border-radius: 0.5rem;
    margin: 3% 0 3% 0;
  }
  .news-card:hover .news-paragraphs {
    top: 20%;
  }
  .news-paragraphs h3 {
    font-size: 1.3rem;
  }
  .news-paragraphs p {
    font-size: 0.95rem;
  }
}

/* ------------------- Min Width of 1400px ------------------- */
@media only screen and (min-width: 1400px) {
  .section-title {
    font-size: 3rem;
    padding: 8% 0 3% 0;
  }
  .news-slider {
    width: 60%;
    height: 35rem;
    margin-bottom: 6%;
  }
  .news-card {
    width: 45%;
    border-radius: 0.3rem;
    margin: 3% 0 3% 0;
  }
  .news-card:hover .news-paragraphs {
    top: 40%;
  }
  .news-paragraphs h3 {
    font-size: 1.1rem;
  }
  .news-paragraphs p {
    font-size: 1rem;
  }
  .news-card img {
    object-fit: cover;
  }
}
