.toast-panner {
  width: 12rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 228, 0);
  font-size: 1rem;
  position: fixed;
  right: -100%;
  top: 1.5rem;
  background-color: #222;
  transition: 2s ease right;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.8rem 0.1rem #aaa;
  z-index: 10;
}
